* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  cursor: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

ol, ul {
  list-style: none; }

html {
  font-size: 10px; }

body, main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  font-family: Arial, 'sans-serif'; }

.cursor, .move-circle {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 100;
  pointer-events: none; }
  .cursor.move-circle, .move-circle.move-circle {
    visibility: visible;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background: paleturquoise; }
    .cursor.move-circle:after, .move-circle.move-circle:after {
      display: none; }
  .cursor:after, .cursor .back, .move-circle:after, .move-circle .back {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: rgba(135, 206, 235, 0.5); }
  .cursor .back, .move-circle .back {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    background: paleturquoise;
    z-index: 0; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0) translate(-50%, -50%);
    transform: rotate(0) translate(-50%, -50%); }
  to {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0) translate(-50%, -50%);
    transform: rotate(0) translate(-50%, -50%); }
  to {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%); } }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 35px, 0); }
  6.66667% {
    clip: rect(33px, 9999px, 43px, 0); }
  13.33333% {
    clip: rect(80px, 9999px, 36px, 0); }
  20% {
    clip: rect(62px, 9999px, 61px, 0); }
  26.66667% {
    clip: rect(51px, 9999px, 39px, 0); }
  33.33333% {
    clip: rect(61px, 9999px, 58px, 0); }
  40% {
    clip: rect(40px, 9999px, 65px, 0); }
  46.66667% {
    clip: rect(49px, 9999px, 43px, 0); }
  53.33333% {
    clip: rect(34px, 9999px, 99px, 0); }
  60% {
    clip: rect(15px, 9999px, 94px, 0); }
  66.66667% {
    clip: rect(11px, 9999px, 76px, 0); }
  73.33333% {
    clip: rect(12px, 9999px, 20px, 0); }
  80% {
    clip: rect(11px, 9999px, 36px, 0); }
  86.66667% {
    clip: rect(62px, 9999px, 40px, 0); }
  93.33333% {
    clip: rect(50px, 9999px, 67px, 0); }
  100% {
    clip: rect(41px, 9999px, 80px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 35px, 0); }
  6.66667% {
    clip: rect(33px, 9999px, 43px, 0); }
  13.33333% {
    clip: rect(80px, 9999px, 36px, 0); }
  20% {
    clip: rect(62px, 9999px, 61px, 0); }
  26.66667% {
    clip: rect(51px, 9999px, 39px, 0); }
  33.33333% {
    clip: rect(61px, 9999px, 58px, 0); }
  40% {
    clip: rect(40px, 9999px, 65px, 0); }
  46.66667% {
    clip: rect(49px, 9999px, 43px, 0); }
  53.33333% {
    clip: rect(34px, 9999px, 99px, 0); }
  60% {
    clip: rect(15px, 9999px, 94px, 0); }
  66.66667% {
    clip: rect(11px, 9999px, 76px, 0); }
  73.33333% {
    clip: rect(12px, 9999px, 20px, 0); }
  80% {
    clip: rect(11px, 9999px, 36px, 0); }
  86.66667% {
    clip: rect(62px, 9999px, 40px, 0); }
  93.33333% {
    clip: rect(50px, 9999px, 67px, 0); }
  100% {
    clip: rect(41px, 9999px, 80px, 0); } }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(88px, 9999px, 22px, 0); }
  5% {
    clip: rect(27px, 9999px, 58px, 0); }
  10% {
    clip: rect(70px, 9999px, 63px, 0); }
  15% {
    clip: rect(40px, 9999px, 77px, 0); }
  20% {
    clip: rect(43px, 9999px, 66px, 0); }
  25% {
    clip: rect(1px, 9999px, 94px, 0); }
  30% {
    clip: rect(2px, 9999px, 42px, 0); }
  35% {
    clip: rect(60px, 9999px, 53px, 0); }
  40% {
    clip: rect(78px, 9999px, 15px, 0); }
  45% {
    clip: rect(26px, 9999px, 48px, 0); }
  50% {
    clip: rect(91px, 9999px, 97px, 0); }
  55% {
    clip: rect(7px, 9999px, 48px, 0); }
  60% {
    clip: rect(18px, 9999px, 4px, 0); }
  65% {
    clip: rect(44px, 9999px, 87px, 0); }
  70% {
    clip: rect(8px, 9999px, 93px, 0); }
  75% {
    clip: rect(81px, 9999px, 8px, 0); }
  80% {
    clip: rect(85px, 9999px, 36px, 0); }
  85% {
    clip: rect(29px, 9999px, 16px, 0); }
  90% {
    clip: rect(47px, 9999px, 34px, 0); }
  95% {
    clip: rect(30px, 9999px, 26px, 0); }
  100% {
    clip: rect(8px, 9999px, 12px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(88px, 9999px, 22px, 0); }
  5% {
    clip: rect(27px, 9999px, 58px, 0); }
  10% {
    clip: rect(70px, 9999px, 63px, 0); }
  15% {
    clip: rect(40px, 9999px, 77px, 0); }
  20% {
    clip: rect(43px, 9999px, 66px, 0); }
  25% {
    clip: rect(1px, 9999px, 94px, 0); }
  30% {
    clip: rect(2px, 9999px, 42px, 0); }
  35% {
    clip: rect(60px, 9999px, 53px, 0); }
  40% {
    clip: rect(78px, 9999px, 15px, 0); }
  45% {
    clip: rect(26px, 9999px, 48px, 0); }
  50% {
    clip: rect(91px, 9999px, 97px, 0); }
  55% {
    clip: rect(7px, 9999px, 48px, 0); }
  60% {
    clip: rect(18px, 9999px, 4px, 0); }
  65% {
    clip: rect(44px, 9999px, 87px, 0); }
  70% {
    clip: rect(8px, 9999px, 93px, 0); }
  75% {
    clip: rect(81px, 9999px, 8px, 0); }
  80% {
    clip: rect(85px, 9999px, 36px, 0); }
  85% {
    clip: rect(29px, 9999px, 16px, 0); }
  90% {
    clip: rect(47px, 9999px, 34px, 0); }
  95% {
    clip: rect(30px, 9999px, 26px, 0); }
  100% {
    clip: rect(8px, 9999px, 12px, 0); } }

.waterflow__wrapper {
  width: 100%;
  height: 100%;
  background: #001;
  overflow: hidden; }

.waterflow__grid {
  width: 100%;
  height: 100%; }

.waterflow__block {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  will-change: transform; }
  .waterflow__block:hover:after {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .waterflow__block:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #001;
    border-radius: inherit;
    -webkit-transition: 0.15s cubic-bezier(0, 0.58, 0.85, 0.69);
    -o-transition: 0.15s cubic-bezier(0, 0.58, 0.85, 0.69);
    transition: 0.15s cubic-bezier(0, 0.58, 0.85, 0.69); }

.glitch {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .glitch__text {
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 120px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 1px -1px #FD8853; }
    @media (max-width: 1024px) {
      .glitch__text {
        font-size: 80px; } }
    @media (max-width: 720px) {
      .glitch__text {
        font-size: 40px; } }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -3px 0 #FD8853;
    top: 0;
    color: #001;
    background: #001;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
    font-size: inherit;
    line-height: inherit; }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 3px 0 #34A997;
    top: 0;
    color: #001;
    background: #001;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    font-size: inherit;
    line-height: inherit; }

.destroy__wrapper {
  width: 100%;
  height: 100%;
  background: #111; }

.destroy__grid {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  cursor: crosshair; }
  .destroy__grid--box {
    border: 1px solid rgba(128, 128, 128, 0.1);
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.4s cubic-bezier(0.4, 0.15, 0, 1.15) 0.1s;
    -o-transition: 0.4s cubic-bezier(0.4, 0.15, 0, 1.15) 0.1s;
    transition: 0.4s cubic-bezier(0.4, 0.15, 0, 1.15) 0.1s;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .destroy__grid--box:hover {
      background: rgba(0, 0, 0, 0.25);
      -webkit-transition: 0s cubic-bezier(0.4, 0.15, 0, 1.15) 0s;
      -o-transition: 0s cubic-bezier(0.4, 0.15, 0, 1.15) 0s;
      transition: 0s cubic-bezier(0.4, 0.15, 0, 1.15) 0s;
      -webkit-box-shadow: 0px 0px 41px 14px rgba(255, 255, 255, 0.015);
      box-shadow: 0px 0px 41px 14px rgba(255, 255, 255, 0.015);
      z-index: 2; }

.destroy__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.15s ease-in-out 0.1s;
  -o-transition: 0.15s ease-in-out 0.1s;
  transition: 0.15s ease-in-out 0.1s; }
  .destroy__popup .hidden {
    pointer-events: none;
    opacity: 0; }
  .destroy__popup #reload {
    font-size: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 105%;
    top: 38%;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    color: lightgray;
    cursor: pointer;
    pointer-events: auto;
    -webkit-transition: 0.1s cubic-bezier(0.4, 0.15, 0, 1.15) 0.25s;
    -o-transition: 0.1s cubic-bezier(0.4, 0.15, 0, 1.15) 0.25s;
    transition: 0.1s cubic-bezier(0.4, 0.15, 0, 1.15) 0.25s; }
    .destroy__popup #reload:active {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: .1s ease-in-out 0s;
      -o-transition: .1s ease-in-out 0s;
      transition: .1s ease-in-out 0s; }
  .destroy__popup span {
    width: 180px;
    color: lightgray;
    text-align: right;
    margin-right: 24px; }
    .destroy__popup span:after {
      content: 'range: 1 - 50';
      position: absolute;
      right: 5px;
      bottom: 0;
      font-size: 12px;
      color: gray; }
  .destroy__popup label {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .destroy__popup input {
    width: 48px;
    background: darkgray;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    pointer-events: auto; }
